@use '../base/variables' as *;
@use '../base/mixins' as *;

.about-page {
  width: 100%;
  max-width: 50rem;
  padding: 0 0.5rem;
  min-height: 100%;
  margin: 2rem auto 0;
  
  @include mq($tablet){
    padding: 0 1rem;
    margin: 10rem auto 0;
  }

  > h1 {
    line-height: 2rem;
    margin: 1rem 0;

    @include mq($tablet){
      font-size: 3rem;
    }
  }

  img {
    width: 6.25rem;
    margin: 1rem 0;
  } 
}