@use '../base/variables' as *;
@use '../base/mixins' as *;

.add-watchlist-btn {
  border: none;
  background-color: transparent;
  color: inherit;
  
  svg {
    color: $bodyCol;
    height: 1.7rem;
    width: 1.7rem;

    @include mq($laptop){
      height: 2rem;
      width: 2rem;

      &:hover, &:active, &:focus {
        color: $brandCol;
      }
    }
  }
}