@use '../base/variables' as *;
@use '../base/mixins' as *;

.banner-section {
  background-size: cover;
  background-position: center top;
  border-radius: 1rem;
  max-width: 86rem; // 1440px - 2rem margins
  height: fit-content;
  margin: 0.5rem;
  
  > div {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3rem 0.5rem;
    overflow: hidden;

    h1 {
      margin: 0.5rem 0;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 500;
    }

    p {
      margin: 0.5rem 0;
    }
  
    .date {
      font-weight: 600;
    }

    div:last-child {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0.5rem 0;
      padding: 0;
    }
  }

}

@media (min-width: 48rem){
  .banner-section {

    div {
      padding: 5rem 2rem;

      h1 {
        font-size: 3rem;
        line-height: 2.5rem;
      }

      .overview {
        max-width: 70%;
      }

    }
  }
 
}

@media (min-width: 64rem){
  .banner-section {
    margin: 2rem 2rem 0;
  }
}