@use '../base/variables' as *;
@use '../base/mixins' as *;

.banner-section {
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  height: fit-content;
  margin: 1rem 0.5rem 0;
  position: relative;

  .add-watchlist-btn {
    svg {
      height: 2rem;
      width: 2rem;

      @include mq($laptop){
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
  
  @include mq($tablet){
   margin: 1rem; 
  }

  @include mq($laptop){
    max-width: 86rem;
    margin: 2rem auto;
  }

  > div {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem 0.5rem 3rem;
    overflow: hidden;

    @include mq($tablet){
      padding: 6rem 2rem 4rem;
    }

    @include mq($laptop){
      padding: 10rem 2rem 8rem;
    }

    h1 {
      margin: 0.5rem 0;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 500;
      width: fit-content;

      @include mq($tablet){
        font-size: 3rem;
        margin: 1rem 0;
      }
    }

    .overview {
      margin: 0.5rem 0;

      @include mq($tablet){
        width: 70%;
      }
    }
  
    .date {
      font-weight: 500;
      margin: 0.5rem 0;
      width: fit-content;
      position: absolute;
      top: 10%;

      @include mq($tablet){
        top: 13%;
        font-size: 1.3rem;
      }

      @include mq($laptop){
        top: 23%;
      }
    }

    div:last-child {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
      width: fit-content;

      > p {
        margin: 1rem 0;

        @include mq($tablet){
          font-size: 1.3rem;
        }
      }

      .add-watchlist-btn svg {
        width: 2.7rem;
        height: 2.7rem;
        margin-top: 4px;
      }

      .button-link {
        border: 2.5px solid $bodyCol;
        font-weight: 500;

        &:hover, &:focus {
          border: 2.5px solid $brandCol;
          color: $midgroundCol;
        }
      }
    }
  }
}