@use '../base/variables' as *;

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-size: 2rem;
}

a, a:visited {
    color: $bodyCol;
    text-decoration: none;

    &:active, &:hover, &:focus {
        color: $brandCol;
    }
}

.button-link {
    border: 2px solid $bodyCol;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: fit-content;

    &:hover, &:active, &:focus {
        background-color: $brandCol;
        border: 1px solid $brandCol;
        color: $midgroundCol;
    }
}

// CONTAINERS
body {
    background-color: $backgroundCol;
    font-family: $mainFont;
    color: $bodyCol;
    font-size: 1.1rem;
    
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main {
        flex-grow: 1;
        width: 100%;
        max-width: 90rem;
        margin: 0 auto;
    }
}

