@use '../base/variables' as *;
@use '../base/mixins' as *;

.category-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;    
    margin: 2rem auto;
    padding: 0 1rem;

    @include mq($laptop){
        padding: 0;
    }

    > p {
        margin: 0;
        padding: 0.5rem 0;

        @include mq($tablet){
            display: none;
        }
    }
}

.category-nav {
    border: 1px solid $brandCol;
    background-color: $backgroundCol;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    width: 10rem;
    position: relative;

    @include mq($tablet){
        background-color: $midgroundCol;
        border: none;
        width: 100%;
        max-width: 64rem;
    }

    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        height: fit-content;

        @include mq($tablet){
            display: flex;
            white-space: nowrap;
        }

        // On mobile, li are hidden by default unless they have class of 'selected'
        li {
            width: 100%;
            z-index: 2;
            display: none;
            
            // on larger, screens all li are always displayed
            @include mq($tablet){
                display: block;
            }
        }

        li.selected {
            display: block;
            
            // on larger screens, will use .tab as background of selected option
            @include mq($tablet) {
                a {
                background-color: transparent;
                color: $midgroundCol;
                }
            }
        }
    
        a, a:visited {
            display: block;
            width: 100%;
            padding: 0.5rem;
            color: $brandCol;
            font-weight: 500;
            z-index: 2;
            
            &:hover, &:active, &:focus {
                background-color: $midgroundCol;
            }
        }
    }

    // onClick, class of 'show' will be applied to ul, and all li are displayed as a result
    ul.show li {
        display: block;
    }
}

// FOR SELECTED CATEGORY - SLIDING ANIMATION
// revised from https://techmidpoint.com/elastic-tab-animation-navigation-menus/

@include mq($tablet){
    
    .tab {
        position: absolute;
        height: 100%;
        width: 25%;
        left: 0;;
        bottom: 0;
        z-index: 1;
        background-color: $brandCol;
        border-radius: 2rem;
        transition: all 0.3s ease;
    }
    
    .tab-popular {
        left: 0;
    }
      
    .tab-now-playing {
        left: 25%;
    }
      
    .tab-upcoming {
        left: 50%;
    }
      
    .tab-top-rated {
        left: 75%;
    }
}
