@use '../base/variables' as *;
@use '../base/mixins' as *;

.category-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;    
    margin: 2rem auto;
    padding: 0 1rem;

    p {
        margin: 0;
        padding: 0.5rem 0 ;
    }
}

.category-nav {
    border: 1px solid $bodyCol;
    background: $midgroundCol;
    text-align: center;
    border-radius: 2rem;
    width: 10rem;
    height: fit-content;
    overflow: hidden;
    cursor: pointer;
    
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        display: none;

        li {
            width: 100%;
            // background: linear-gradient(to left, $midgroundCol 50%, $brandCol 50%) right;
            // background-size: 200% 100%;
            // transition: all 0.3s ease-in-out;

            &:hover, &:focus, &:active {
                // background-position: left;
                background-color: $brandCol;
            }
        }

        a, a:visited {
            display: block;
            width: 100%;
            padding: 0.5rem;

            &:hover {
                color: $midgroundCol;
            }
        }
    }
}


@media (max-width: 767px) {
    .category-nav ul.show {
        display: block;
    }
}

@media (min-width: 768px) {

    .category-section p {
        display: none;
    }

    .category-nav {
        border: none;
        width: 100%;
        max-width: 64rem;
        
        ul {
            display: flex;
            white-space: nowrap;

            li {
                border-radius: 2rem;
            }
        }
    }
}