@use '../base/mixins' as *;
@use '../base/variables' as *;

@include mq($tablet) {
    .main-nav {
        height: 5rem;
        visibility: visible;
        transition: none;

        .open {
            transition: none;
            height: auto;
        }

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            padding-right: 0.25rem;
        }

        a {
            color: $bodyCol;
            padding: 1rem;
        }
    }
}

@include mq ($laptop){
    .main-nav ul {
        gap: 2rem;
    }
}