@use '../base/variables' as *;

footer {
    width: 100%;
    font-size: 0.9rem;
    margin: 5rem auto 1rem;
    text-align: center;
    justify-self: flex-end;

    img {
        width: 6.25rem;
    }
    
    p {
        margin: 0;
    }
}