@use '../base/variables' as *;
@use '../base/mixins' as *;

header {
    font-family: $mainFont;
    background-color: $midgroundCol;
    border-radius: 0 0 1rem 1rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;

    @include mq($tablet){
        flex-wrap: nowrap;
        padding: 0.5rem 1rem;
    }

    @include mq($laptop){
        padding: 0.5rem 2rem;
    }

    > a {
        line-height: 0.5rem;
    }
    
    img {
        width: 6.25rem;

        @include mq($tablet){
            width: 10rem;
        }
    }
}