@use '../base/variables' as *;
@use '../base/mixins' as *;

header {
    background-color: $midgroundCol;
    font-family: $mainFont;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
        @include mq($tablet){
            flex-wrap: nowrap;
        }

    > a {
        line-height: 0.5rem;
    }
    
    img {
        width: 6.25rem;
    }
}

@media (min-width: 40rem) {
    header img {
        width: 12.5rem;
    }
}