@use '../base/variables' as *;
@use '../base/mixins' as *;

header {
    background-color: $midgroundCol;
    font-family: $mainFont;
    border-radius: 0 0 1rem 1rem;
    padding: 0 1rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
        @include mq(768){
            flex-wrap: nowrap;
        }

    h1 {
        color: $brandCol;
        padding: 0;
        margin: 0;
            @include mq(768){
                display:block;
                min-width:34rem;
            }
    }
}