@use '../base/variables' as *;


.category-select {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    select{
        background-color: $backgroundCol;
        color: $brandCol;
        font-family: $mainFont;
        font-size: 1rem;
        border: 1px $brandCol solid;
        border-radius: 15px;
        padding: 0.3rem 1.1rem;
        text-align: center;
     
    }
         
 
}


@media (min-width:40em){
    .active {
        background-color: $brandCol;
        color: $backgroundCol;
        border-radius: 30px;
        padding: 0.3rem 1.1rem;
    }

    .category-list {
        display: none;
    }

    .category-select{
        display: block;
        background-color: $midgroundCol;
        border-radius: 30px;
        margin: 0 auto;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0;

            
            li{
                padding: 0.5rem 1.5rem;
                      
            }
        }
    } 
}

