// Container for Movie Posters on Home > Main

@use '../base/variables' as *;

.movies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    gap: 1rem;
    padding: 1rem;
}