.pnf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;

  > h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0;
  }
}

@media (min-width: 48rem){
  .pnf {
    h1 {
      font-size: 2.5rem;
      margin: 2rem 0;
    }
  }
}