@use "../base/variables" as *;
@use "../base/mixins" as *;

form {
    .search-container {
        display: block;
        margin: 0 auto;
        width: fit-content;
        position: relative;

        @include mq ($tablet){
            position: relative;
        }

        .search-input {
            background-color: $backgroundCol;
            color: $bodyCol;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            border: none;
            font-size: 1.1rem;

            &:focus {
                box-shadow: 2px 2px 5px $brandCol;
            }

            &::placeholder {
                font-family: $mainFont;
            }
        }

        .submit-search {
            background: none;
            border: none;
            color: $bodyCol;
            position:absolute;
            bottom:0;
            top: 0;
            right:0;
            margin: 0 1rem;
            padding: 0;
            line-height: 0.5rem;

            @include mq ($tablet) {
                position: absolute;
                top: 1px;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.search-results h1, .no-result{
    margin: 2rem 0.5rem;

    @include mq($tablet){
        margin: 2rem 1rem;
    }

    @include mq($laptop){
        margin: 2rem 2rem;
    }
}