@use '../base/mixins' as *;
@use '../base/variables' as *;

.single-movie {
    display: flex;
    justify-content: center;
}

.single-movie-content {
    margin: 1rem;
    max-width: 90rem;
    overflow: hidden;

    @include mq($laptop) {
        display: flex;
        margin: 4rem auto;
    }

    .single-movie-poster {
        img {
            width: 80%;
            max-width: 20rem;
            display: block;
            margin: 1rem  auto;
            border-radius: 1rem;
        }

        @include mq ($laptop) {
            display: flex;
            align-items: center;
        }
    }

    .single-movie-info {
        max-width: 48rem;

        @include mq ($laptop) {
            width: 75%;
            margin: 0 2rem;
        }

        .first-row {
            font-size: 1.3rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 0 0 0 0.75rem;

                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            @include mq ($tablet) {
                justify-content: start;
            }
        }

        .first-row + h2{
            margin: 0;
        }

        p + iframe {
            margin-top: 2rem;
        }

        iframe {
            border: none;
            display:block;
            margin: 0 auto;

            @include mq ($tablet) {
                width: 420px;
                height: 236.25px;
            }

            @include mq ($laptop){
                display: inline;
            }
        }
    }

    .no-trailer {
        margin-top: 1rem;
        width: 420px;
    }
}