@use '../base/mixins' as *;
@use '../base/variables' as *;

.single-movie-content {
    margin: 1rem;

    @include mq($laptop) {
        display: flex;
        margin: 4rem;
    }

    .single-movie-poster {
        margin-top: 1rem;

        img {
            width: 45%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 1rem;

            @include mq($laptop) {
                width: 75%;

            }
        }

        @include mq ($laptop) {
            display: flex;
            align-items: center;
        }
    }

    .single-movie-info {
        @include mq ($laptop) {
            margin-left: 1rem;
            width: 75%;
        }

        .first-row {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                margin-top:1rem;
                margin-left:0;

            button {
                padding: 0;
                padding-left: 0.75rem;
            }

            @include mq ($laptop) {
                justify-content: start;
            }
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }



        iframe {
            margin-top: 1rem;
            border: none;
            width: 320px;
            height: 180px;
            display:block;
            margin-left: auto;
            margin-right:auto;

            @include mq ($tablet) {
                width: 420px;
                height: 236.25px;
                display: inline;
            }


        }

    }

    .no-trailer {
        margin-top: 1rem;
        width: 420px;
    }
}