@use '../base/variables' as *;
@use '../base/mixins' as *;

.watchlist {
  

  > h1 {
    margin: 2rem 0.5rem 0.5rem;

    @include mq($tablet){
      font-size: 3rem;
      margin: 2rem 1rem 1rem;
    }

    @include mq($laptop){
      font-size: 3rem;
      margin: 2rem 2rem 1rem;
    }
  }

  > p {
    margin: 0 0.5rem;
    
    @include mq($tablet){
      margin: 0 1rem;
    }

    @include mq($laptop){
      margin: 0 2rem;
    }
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(145px, 216px));
    
    @include mq($tablet){
      margin: 0 1rem;
      padding: 0;
    }

    @include mq($laptop){
      margin: 0 2rem;
    }
  }
}