// VARIABLES
$mainFont: 'Jost', Helvetica, Arial, sans-serif;
$brandCol: #FFCC00;
$bodyCol: #FFFFFF;
$midgroundCol: #232323;
$backgroundCol: #0F0F0F;

// GOOGLE FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

//MEDIA QUERY VARIABLES 
$tablet: 768;
$laptop: 1024;
$desktop: 1440;
